 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 864px;
}

.u-section-1 .u-image-1 {
  width: 296px;
  height: 271px;
  margin: 105px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1.4;
  margin: -14px 76px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  width: 612px;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  align-self: center;
  margin: 31px auto 0 346px;
  padding: 10px 64px 11px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: -51px 351px 1px auto;
  padding: 10px 49px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 100px;
  }

  .u-section-1 .u-text-1 {
    width: 709px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 249px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -50px;
    margin-right: 249px;
    margin-bottom: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 139px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 139px;
    margin-bottom: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 39px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 100px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 774px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 87px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  width: 907px;
  margin: 17px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  width: 677px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  width: 901px;
  font-style: italic;
  margin: 28px auto 60px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 73px;
  }

  .u-section-2 .u-text-3 {
    width: 720px;
  }

  .u-section-2 .u-text-5 {
    width: 720px;
    margin-bottom: 73px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 87px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }

  .u-section-2 .u-text-4 {
    width: 540px;
  }

  .u-section-2 .u-text-5 {
    margin-bottom: 60px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 100px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .u-text-4 {
    width: 340px;
  }

  .u-section-2 .u-text-5 {
    width: 340px;
    margin-bottom: 100px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 684px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 25px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 659px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  margin: 0 20px;
}

.u-section-3 .u-text-2 {
  font-size: 2.625rem;
  margin: 20px auto 0 20px;
}

.u-section-3 .u-text-3 {
  margin: 20px 53px 0 20px;
}

.u-section-3 .u-image-1 {
  width: 477px;
  height: 182px;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  margin: 30px 53px 0 20px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 659px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 128px;
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  width: 480px;
  margin: 20px 0 0 30px;
}

.u-section-3 .u-text-4 {
  font-size: 2.625rem;
  font-weight: 700;
  margin: 20px 0 0 30px;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 450px;
    height: 172px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 543px;
  }

  .u-section-3 .u-image-2 {
    height: 103px;
    width: 410px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    height: 166px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 131px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 122px;
  }

  .u-section-3 .u-image-2 {
    height: 81px;
    width: 320px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 660px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 25px 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 635px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 86px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  margin: 21px 0 0;
}

.u-section-4 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 21px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 635px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-image-1 {
  width: 535px;
  height: 417px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 524px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 524px;
  }

  .u-section-4 .u-image-1 {
    width: 470px;
    height: 366px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    width: 360px;
    height: 280px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1208px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1020px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 264px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 700px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 25px 0 40px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 635px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 391px;
  height: 391px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 635px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 51px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  margin: 19px 51px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 21px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 524px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 524px;
  }

  .u-section-5 .u-text-2 {
    margin-left: undefined;
    margin-right: 109px;
  }

  .u-section-5 .u-text-3 {
    margin-left: undefined;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 401px;
  }

  .u-section-5 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1208px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 602px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-left: undefined;
  }

  .u-section-5 .u-text-3 {
    margin-left: undefined;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1020px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 0;
  }
}