.u-section-1 .u-sheet-1 {
  min-height: 1446px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  width: 907px;
  margin: 20px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 73px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 100px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}